@model IEnumerable<Ecommerce.Models.Product_table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.P_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminDetails_Table.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.P_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminDetails_Table.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.P_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.P_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.P_ID })
        </td>
    </tr>
}

</table>
